<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListTickets</servlet-name>
        <servlet-class>mykmutt.report.demo.servlet.ListTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTicket</servlet-name>
        <servlet-class>mykmutt.report.demo.servlet.AddTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>mykmutt.report.demo.servlet.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>mykmutt.report.demo.servlet.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTicket</servlet-name>
        <servlet-class>mykmutt.report.demo.servlet.DeleteTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTickets</servlet-name>
        <url-pattern>/ListTickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTicket</servlet-name>
        <url-pattern>/AddTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTicket</servlet-name>
        <url-pattern>/DeleteTicket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
